@media screen and (min-width: 769px) and (max-device-width: 990px) {
    .sec-padcn {
        padding: 60px 0px 50px 0px;
    }
}

@media screen and (min-width: 481px) and (max-device-width: 991px) {
    .bg-img1 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: auto;
    position: relative;
}
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .sec-padcn {
    padding: 60px 0px 50px 0px;
}


}

@media only screen and (max-device-width: 480px) {
    .sec-padcn {
        padding: 50px 0px 50px 0px;
    }

    .log-img img {
        object-fit: cover;
        height: auto;
    }

    .ww-head {
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        color: white !important;
    }
    
    .p-b-140, .p-tb-140, .p-all-140 {
    padding-bottom: 40px !important;
}

.cn-pdt2 {
    padding: 20px 0px;
    background: white;
    padding: 15px;
}

.product-grid2 .product-image2 img {
    width: 100%;
    height: auto;
    height: 170px;
    object-fit: contain;
}

.sm-pt-25{
    padding-top: 45px !important;
}



}